@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root{
    --background-color: linear-gradient(to bottom right,#031826, #096EB1);
    --font-family: Poppins;
    --text-color: white;
    --accent-color: #0888DE;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: var(--font-family);

    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/* CUSTOM ELEMENTS */

.blue{
    color: var(--accent-color);
}

.black{
    font-weight: 900;
}

.btn{
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color);
    transition: .4s;
}

.btn.full{
    padding: 10px;
    background-color: var(--accent-color);
    border: 5px solid transparent;
}

.btn.full:hover{
    padding: 10px;
    border: 5px solid var(--accent-color);
    background: transparent;
}

.btn.outline{
    padding: 10px;
    border: 5px solid var(--accent-color);
}



/* HEADER */

header{
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: .5px solid #757780;
    background-color: #0d0d0d1a;
    z-index: 999999999;

    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h3{
    margin: 5px 0 5px 0;
    font-size: 26px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

header ul a{
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    transition: .4s;
}

header ul a::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--accent-color);
    bottom: -3px;
}

header ul a:hover{
    color: var(--accent-color);
}

header ul a:hover:before {
    width: 100%;
    transition: .4s;
}

/* MAIN */

main{
    margin: 100px 50px;
    flex: 1;
}

main .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .header h1{
    font-size: 130px;
    margin: 0;
}

main .header img{
    width: 250px;
}

main .title{
    text-transform:uppercase;
    font-size: 50px;
}

main .me{
    position: relative;
    z-index: 999;
    max-width: 1000px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .me .buttons{
    display: flex;
    gap: 20px;
}

main .me .buttons .btn{
    flex: 1;
}

main .me .social{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

main .me .social a{
    font-size: 40px;
    color: var(--text-color);
    text-decoration: none;
    transition: .4s;
}

main .me .social a:hover{
    color: var(--accent-color)
}

main #projects{
    position: relative;
    margin-top: 130px;
    z-index: 9
}

main #projects h2{
    font-size: 50px;
}


main #projects .items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

main #projects .items .project{
    position: relative;
    width: 100%;
    border-radius: 10px;
}

main #projects .items .project:hover .details{
    max-height: 100vh;
padding: 1rem 1rem 1.5rem;
}



main #projects .items .project .details{
    position: absolute;
    bottom: .35rem;
    left: 0;
    width: 100%;
    height: calc(100% - .35rem);
    box-sizing: border-box;
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: .35rem;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main #projects .items .project img{
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 10px;
    border: .25rem solid var(--accent-color);
}

main #projects .items .project a{
    position: absolute;
    bottom: .5em;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    border-radius: 100vh;
    background-color: var(--accent-color);
    color: white;
    padding: .5em 1em;
    font-weight: 600;
    text-align: center;
    z-index: 9999;
    text-decoration: none;
}

main #projects .items .project a:hover{
    background: white;
    color: var(--accent-color)
}

main #competences{
    position: relative;
    margin-top: 130px;
    z-index: 9
}

main #competences h2{
    font-size: 50px;
}

main #competences .items{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

main #competences .items div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #competences .items img{
    height: 100px;
}