@font-face {
    font-family: "Manrope";
    src:
      url("../fonts/Manrope.woff") format("woff");
}

:root{
    --font-family: "Manrope";
    --background-color: white;
    --section-color: #121216;
}

body {
    font-family: var(--font-family), sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);

}

header {
    height: 100px;
  
    background-color: var(--section-color);
    color: white;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  header div{
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
  }
  
  header img{
      width: 50px;
  }
  
  header ul{
      display: flex;
      justify-content: space-around;
      gap: 50px;
  
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  header ul a{
      color: white;
      text-decoration: none;
      transition: color 0.5s ease;
  }
  
  header ul a:hover{
      color: gray;
  }

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.feature {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.download-section {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}

.dwn:hover {
    filter: brightness(90%);
}

.dwn{
    background-color: #007BFF !important;
}

.button {
    display: flex;
    background-color: rgb(24, 23, 23);
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
    text-decoration: none;
}

.button svg {
    height: 30px;
}

.button:hover {
    box-shadow: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.return{
    position: fixed;
    padding: 10px;
    top: 10px;
    left: 10px;
    color: skyblue;

    display: flex;
    align-items: center;
    gap: 5px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 800px) {
    .return {
        position: relative !important;
        padding: 0;
        background-color: unset;
        border: unset;
    }

    header{
        flex-direction: column;
        height: fit-content;
        padding: 10px;
    }

    header ul{
        flex-direction: column;
        gap: 10px;
    }
}