
@font-face {
    font-family: 'Azonix Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Azonix Regular'), url('../fonts/Azonix.woff') format('woff');
}

:root{
    --background-color: black;
    --accent-color: #0583F2;
    --text-color: white;
    --title-font: "Azonix Regular";
    --font: system-ui;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    font-family: var(--title-font);
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

header .menu{
    display: flex;
    list-style: none;
    gap: 50px;
}

header .menu a{
    color: var(--text-color);
    text-decoration: none;
}

header .menu a:hover{
    color: lightslategray;
}

main{
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

span.me{
    color: var(--accent-color);
    font-family: var(--title-font);
}

#projets{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

#projets div{
    background: white;
    border-radius: 1.2rem;
    color: black;
    padding: 5px;
    cursor: pointer;
    transition: all .3s ease-in;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

#projets div:hover{
    padding: 10px;
}

#projets div img{
    height: 100px;
}

@media screen and (max-width: 780px) {
    header{
        flex-direction: column;
    }

    header ul{
        display: none !important;
    }

    main *{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}